{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "safari 4"
        ]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": "usage"
    }],
    "react",
    "stage-1"
  ],
  "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "syntax-dynamic-import"]
}
