@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.todo-list {
  max-width: 20em;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background: $clr_todo_bg;
  border: 1px solid $clr_line;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  > * {
    width: 80%;
  }
}

.no-padding {
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.add-item {
  margin-top: 1em;
  border: 1px solid $clr_line;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: border-color 0.2s;
  font-family: 'Nunito Sans', sans-serif;
  font-size: inherit;

  &:focus {
    outline: none;
    border-color: $clr_main;
    // font-family: 'Nunito Sans', sans-serif;
  }
}

.cross {
  display: inline-block;
  margin: 0 0.2em;
  cursor: pointer;
  color: lighten($clr_main, 20%);
  @include emphasize-on-hover();
}

.after-row {
  display: flex;
  justify-content: space-between;
}

.clean-up {
  cursor: pointer;
  @include emphasize-on-hover();
}

.filter {
  display: flex;
  justify-content: space-between;

  li {
    flex-grow: 1;
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    cursor: pointer;
    color: lightgray;
    @include emphasize-on-hover();
  }
}
