@import 'src/styles/variables.scss';

.app {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 5vh auto;
  color: $clr_main;
  font-family: 'Nunito Sans', sans-serif;

  h1 {
    text-align: center;
  }
}
